# Environments
.env
.env*.local

# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.pyc
venv/
.venv/
tmp_venv/
tmp_db_fix_env/

# Logs
*.log

# Node
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
postgres_data/
